<%= form_for(@user, :html => {:class => 'form-horizontal'}) do |f| %>  
  <div class="form-group">
    <label for="inputUsername" class="col-sm-4 control-label">用户名</label>
    <div class="col-sm-8">
      <%= f.text_field :username, :class => 'form-control', :placeholder => '创建一个富有创意的独一无二的账号' %>  
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail" class="col-sm-4 control-label">电子邮箱</label>
    <div class="col-sm-8">
      <%= f.text_field :email, :class => 'form-control', :placeholder => '输入您常用的电子邮箱' %> 
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword" class="col-sm-4 control-label">创建密码</label>
    <div class="col-sm-8">
      <%= f.password_field :password, :class => 'form-control', :placeholder => '创建一个复杂安全的密码' %> 
    </div>
  </div>
  <div class="form-group">
    <label for="inputConfirm" class="col-sm-4 control-label">确认密码</label>
    <div class="col-sm-8">
      <%= f.password_field :password_confirmation, :class => 'form-control', :placeholder => '确认您刚创建的密码' %>     
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-8">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="islogin" value="1"> 注册成功后直接登陆本站
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-8">   
      <button type="submit" class="btn btn-primary">注&nbsp;&nbsp;&nbsp;&nbsp;册</button>
      &nbsp;&nbsp;
      <button type="reset" class="btn btn-danger">重&nbsp;&nbsp;&nbsp;&nbsp;置</button> 
    </div>
  </div>
<% end %>