<div class="jumbotron">
  <h1><%= @project.name %></h1>
  <p><%= @project.description %></p>
  <p>
    <a class="btn btn-primary btn-lg" role="button">Learn more</a>
    <%= link_to '删除项目', @project, method: :delete, data:{ confirm: '确定删除这个项目吗？ 注意：项目下的所有信息将一并删除！' }, :class => 'btn btn-lg btn-danger' %>
  </p>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h3>
        <i class="glyphicon glyphicon-user"></i> 参与用户列表 <small></small>
        <div class="pull-right">   
          <%= link_to users_path, :class => "btn btn-primary", :remote => true do %>
            <span class="glyphicon glyphicon-plus"></span>
            添加用户
          <% end %>
        </div>
      </h3>
    </div>
    <% @project.users.each do |user| %>
      <p><i class="glyphicon glyphicon-user"></i> <%= user.username %></p>
    <% end %>
  </div>
  <div class="col-md-12">
    <div class="page-header">
      <h3>
        <i class="glyphicon glyphicon-tags"></i> 所有已发布任务列表 <small></small>
        <div class="pull-right">   
          <a href="<%= new_user_task_path(:user_id => session[:user_id]) %>" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span>
            添加任务     
          </a>   
        </div>
      </h3>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" />